{% assign profile = site.data.data.profile %}
<section class="career-profile">
    <h2 class="title">Career Profile</h2>
    <div class="details">
        <ul>
            <li>2,5 year of experience with Ruby language and 1 year of experience in PHP Web development,</li>
            <li>Experience in writing functionalities of the website using Ruby on Rails and related technologies such as
            <strong>various Ruby gems, HTML, CoffeeScript, Jquery, Bootstrap, PHP, CSS, SASS, MySQL, PostrgreSQL</strong>,</li>
            <li>Experience in writing complex unit tests using Rspec gem,</li>
            <li>Working knowledge of using common design patterns such as <strong>Service objects, Value objects, Decorators, QueryObjects</strong> etc.</li>
            <li>Experience in Agile Development,</li>
            <li>Experience in IT Project Management (not interested in this role anymore though),</li>
            <li>5 years of experience in SEO,</li>
        </ul>
    </div>
</section>