{% assign profile = site.data.data.profile %}
<section class="career-profile">
    <h2 class="title">Career Profile</h2>
    <div class="details">
        <ul>
            <li>More than <strong><u>7 years of professional experience</u></strong> as a developer <span class="ruby-color">(5 years in Ruby)</span>,</li>
            <li>Experience with both <strong>monolithic</strong> and <strong>microservices</strong> architectures,</li>
            <li>Experience in designing and implementing application architectures in Ruby on Rails, with a focus on <strong>readability, extensibility</strong>, and <strong>best practices</strong></li>
            <li>Experience in writing unit tests using <strong>RSpec, Minitest, JUnit</strong> and <strong>Jest</strong>,</li>
            <li>Experience in <strong>Agile Development</strong> (Scrum, Kanban and Extreme Programming),</li>
            <li>Practical use of <strong>Domain Driven Design</strong>,</li>
            <li>Experience in IT Project Management (not interested in this role anymore though),</li>
            <li>5 years of experience in SEO,</li>
        </ul>
    </div>
</section>